doctype
html
  head
    meta(charset='utf-8')
    meta(baidu-gxt-verify-token="0e84a80df976dfd60e5d64c31689ce15")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(property="wb:webmaster" content="7569b0b3ce9f0e78")
    title= title
    meta(name="description" content="#{description}")
    meta(name='keywords' content="#{keywords}")
    link(rel="stylesheet" href="/main.css")
    link(rel="shortcut icon" type="image/png" href="/48.png")
    style.
      .markdown-body ul {
        padding-left: 0;
      }
      .markdown-body ul li {
        margin-bottom: 0;
        padding: 5px;
      }
      .markdown-body ul li:nth-child(odd) {
        background-color: #f2f2f2;
      }
    script(src="/themes/highlight/highlight.pack.js" type="text/javascript")
    script(type="text/javascript").
      hljs.initHighlightingOnLoad();
    script.
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?2bdbd2417ecf82c495cfefb39957b9ce";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();

  body
    #container.markdown-body
      .nav-breads
        a(href='http://csser.me') 首页
        span.split /
        a(href='http://blog.csser.me') 博客
        span.split /
      != yield
      #comments
        h4 留言
        div.ds-thread(data-thread-key="blog_home"
        data-title="#{title}"
        data-url="#{host}")
        script.
          var duoshuoQuery = {short_name: 'csser'};
          (function(){
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            document.head.appendChild(ds);
          })();

    footer
      p.copyright indooorsman &copy;&nbsp;
        a(href='http://csser.me') csser.me

    //-script(src='/assets/js/CryptoJS.js')
    //-script(src='/assets/js/rl-comments.js')
    //-script.
      (function () {
        var id = CryptoJS.SHA1(location.host + location.pathname.replace(/\/$/,''), 'rlcmt');
        var container = document.getElementById('comments');
        RLComments.init(id, container);
      })();
