doctype
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    meta(name="description" content="#{description}")
    meta(name='keywords' content="#{keywords}")
    link(rel="stylesheet" href="/main.css")
    link(rel="shortcut icon" type="image/png" href="/48.png")
    script(src="/themes/highlight/highlight.pack.js" type="text/javascript")
    script(type="text/javascript").
      hljs.configure({languages: ['javascript']});
      hljs.initHighlightingOnLoad();
    script.
      var _hmt = _hmt || [];
      (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?2bdbd2417ecf82c495cfefb39957b9ce";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();

  body
    #container.markdown-body
      .nav-breads
        a(href='http://csser.me') 首页
        span.split /
        a(href='http://blog.csser.me') 博客
        span.split /
      != yield

      h4 分享
      .bdsharebuttonbox
        a(href="#" class="bds_more" data-cmd="more")
        a(href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博")
        a(href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信")
        a(href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间")
        a(href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧")
        a(href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博")
        a(href="#" class="bds_renren" data-cmd="renren" title="分享到人人网")
        a(href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook")
        a(href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter")
        a(href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址")
      script.
        window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];

      #comments
        h4 评论
        div.ds-thread(data-thread-key="#{date}_#{id}"
        data-title="#{title}"
        data-url="#{host}#{postsPath}/#{current.source}")
        script.
          var duoshuoQuery = {short_name: 'csser'};
          (function(){
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            document.head.appendChild(ds);
          })();

    footer
      p.copyright indooorsman &copy;&nbsp;
        a(href='http://csser.me') csser.me

    //-script(src='/assets/js/CryptoJS.js')
    //-script(src='/assets/js/rl-comments.js')
    //-script.
      (function () {
        var id = CryptoJS.SHA1(location.host + location.pathname.replace(/\/$/,''), 'rlcmt');
        var container = document.getElementById('comments');
        RLComments.init(id, container);
      })();
